.App{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto max-content;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.everything{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: forestgreen;
    opacity: 0.5;
}

#footer{
    height: auto;

}

#header{
    height: auto;
}